venv
*.log
*.pyc
.ipynb_checkpoints
.mypy_cache
.vscode
env*
!docs/source/*
docs/source/.DS_Store
exports*
.env
.coverage
.idea
.pytest_cache
.venv
.doit.db*
docs/build

node_modules/

.dynamodb/
.build/

yarn-error.log

wsgi_handler.py
serverless_wsgi.py

shared-local-instance.db
.DS_Store
